{% extends "base.html" %}

{% block style %}
{{ super() }}
<style>
    #top-navbar {
        /* Doing this to keep the navbar at the top of the page while still taking advantage of the bootstrap classes. */
        position: inherit;
    }
</style>
{% endblock style %}


{% block body %}
{{ super() }}
{% block final_script %}{% endblock %}
{% endblock body %}



{% block body_content %}
<div id="top-navbar" class="navbar navbar-fixed-top hidden">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">
                {{ config.BOORU_NAME }}
            </a>
            <ul class="nav">
                <li>
                    <a href="#">
                        all
                    </a>
                </li>
                <li>
                    <a href="#">
                        upload
                    </a>
                </li>
                <li>
                    <a href="#">
                        pools
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        tags
                    </a>
                </li>
            </ul>
            <div class="control-group">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>{{ config.BOORU_NAME }} <small>is best booru.</small></h1>
    <p>A magical world of tagged images awaits you.</p>
</div> <!-- /container -->

{% block content %}{% endblock content %}

{% endblock body_content %}

