{% extends "booru/base.html" %}

{% block content %}

<div id="metabar-container" class="-container-fluid">
    <ul class="metabar">
        <li class="">
            Artist: <strong>{{ artist.name }}</strong>
        </li>
        <li class="">

            Score:
            <strong>
                35
            </strong>

        </li>
        <li class="">

            <strong>
                37
            </strong>
            votes (36 up, 1 down)

        </li>
        <li class="">

            <strong>
                {{ image.width }}x{{ image.height }}
            </strong>
            PNG 27kB

        </li>
        <li class="">

            <strong>
                4
            </strong>
            comments

        </li>
        <li class="">

            Uploaded <strong><abbr class="timeago" title="{{ image.upload_time }}Z">Upload time</abbr></strong> by
            <strong>
                {{ uploader.name }}
            </strong>


        </li>
        <li class="">

            <a href="#" data-toggle="tooltip-bottom" title="Download" class="hidden-desktop">
                <span class="icon-download-alt"/>
            </a>

            <a href="#" class="visible-desktop">
                Download
            </a>

        </li>
    </ul>
</div>


<div class="row-fluid">

    <div class="span6 visible-desktop">
        <img class="pull-left" src="{{ image.filename }}">
    </div>

    <div class="span12 hidden-desktop">
        <img class="pull-left" src="{{ image.filename }}">
    </div>

    <div class="span6">
        <div id="metadata-sidebar" class="pull-left">
            <ul id="metadata-list">
                <li class="pull-left">
                    <dl id="metadata-large" class="dl-horizontal">
                        <dt>source</dt>
                        <dd>{{ image.source_url }}</dd>

                        <dt>artist</dt>
                        <dd><a href="#">{{ artist.name }}</a></dd>

                        <dt>score</dt>
                        <dd>35 (36 <span class="icon-arrow-up"></span>, 1 <span class="icon-arrow-down"></span>)</dd>

                        <dt>tags</dt>
                        <dd>
                            <div id="tags-container" class="btn-group">
                                <button class="btn btn-mini btn-inverse">foo</button>
                                <button class="btn btn-mini btn-inverse">bar</button>
                                <button class="btn btn-mini btn-primary">baz</button>
                                <button class="btn btn-mini btn-success">sfw</button>
                                <button class="btn btn-mini btn-danger">nsfw</button>
                            </div>
                        </dd>

                        <dt>age</dt>
                        <dd>13 days</dd>

                    </dl>
                </li>


                <li id="image-description-container">
                    <dl>
                        <dt>description</dt>
                        <dd>
                            <div>
                                <p class="lead text-left">{{ image.description }}</p>
                            </div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

</div>

<hr />

<div id="main-container" class="container-fluid">
    <h1>Comments</h1>

    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/64/64">
            </a>
            <div class="media-body">
                <h3 class="media-heading">kittens4lyfe</h3>
                <p>I love this kitten. I would take care of this kitten forever.</p>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placekitten.com/g/64/64">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">catcynic2323</h3>
                        <p>Don't forget that kittens don't last forever. They quickly become cats. Full-blown cats. Can you handle a cat? I thought I could handle a cat until I had 12. Now I have too many cats. I cope, but it's a struggle. Every day, cats. Cats here. Cats there. You have to feed cats, you know. They're not rechargeable like cell phones. They need to eat.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/g/64/64">
            </a>
            <div class="media-body">
                <h3 class="media-heading">catcynic2323</h3>
                <p>Please mail me a cat. 4 West Street, Citiesville, Statestucky, 12345.</p>
            </div>
        </li>
    </ul>
</div>


<style>
    .metabar {
        margin: 0px;
        border-bottom: 1px solid;
    }

    .metabar li {
        display: inline-block;
        list-style-type: none;
        padding: 8px 12px 8px 12px;
        line-height: 14px;
    }

    .metabar li:last-child > a {
        border-right: 0px;
    }

    #metadata-sidebar {
        /*min-width: 5%;*/
        /*max-width: 40%;*/
        margin: auto;
        display: inline-block;
    }

    #metadata-list > li {
        list-style-type: none;
        display: block;
        float: left;
        clear: left;
    }

    #metadata-large dt {
        /*margin-left: auto;*/
        width: auto;
    }

    #metadata-large dd {
        margin-left: 100px;
    }

    #image-description-container p {
        /*margin-left: 10px;*/
        /*margin: auto;*/
        /*width: 50%;*/
    }

    #image-description-container dl {
        /*width: 50%;*/
        margin: 0;
        border: 0;
    }

    .horizontal-list > li {
        list-style-type: none;
        display: inline-block;
    }


</style>

{% endblock content %}


{% block final_script %}
    <script src="{{ url_for('static', filename='js/jquery.timeago.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $("[data-toggle='tooltip-bottom']").tooltip({placement: "bottom"});
            $("abbr.timeago").timeago();
        });
    </script>
{% endblock %}