{% extends "booru/base.html" %}
{% block content %}
    <div class="container">
        <div class="hero-unit">
            <h1>What's all this, then?</h1>
            <p>If there were a booru that boorued a booru, would it eat a woodchuck if it couldchuck?</p>
            <p>All these questions and more will be asked and answered at our leisure as we gaze into a starstruck sky without any regard for humanity, calls of nature, or, indeed, basic civility. Beyond that which cannot be seen by the untrained eye lies wonders untold to and unheard of by mere mortals of your own land. Lucky for you, you exist in a different place and time: one in which you are born privileged to experienced such mysteries as this.</p>
            <p>Prepare yourself. Prepare.</p>
            <p><button class="btn btn-inverse btn-large">Prepare.</button></p>
        </div>
    </div>
{% endblock %}
